* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#score-box {
    display: flex;
}
.scores {
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    width: 250px;
    height: 60px;
    margin:20px;
    font-size: 16pt;
    font-weight: bold;

}
.choice {
    width:200px;
    height:200px;
    background-color: wheat;
    font-size: x-large;
}
#result-box {
    font-size: 16pt;
}
#start {
    width:200px;
    height:40px;
}